
<div class="landingpage-container">
    <div class="landing-container">
        <h1>- VNP PASSPORT -</h1>

        <h3>Welcome to the Virtual National Park Passport</h3>

            <a href="/sessions/new">Log In</a>
            <a href="/users/new">Register</a>
            
    </div>
   
</div>