
<div class="navbar">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/new">ADD PARK</a></li>
    </ul>

    <div class="logout-cont">
        <form action="/sessions?_method=DELETE" method="POST">
            <input class="logout" type="submit" value="Log Out"/>
        </form>
    </div>

</div>