
<div class="page-container">
  
  <div class="container">
    <%- include('../partials/nav.ejs') %>
    <% for(let i = 0; i < parks.length; i++){ %>
      <div class="outer-box">
        <div class="park-box">
            <h2><%=parks[i].name; %><h2>
                <img src="<%=parks[i].img; %>"> <br>
            </div>
            <a href="/<%= parks[i].id %>">See Park</a>
      </div>
    <% } %>
      
  </div>
      
</div>