<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Anton&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/app.css" />
        <title></title>
    </head>
    
    <body>
        
            <% if(!currentUser) { %>
            
                <%- include('../views/partials/log_in.ejs') %>
            <% } else { %>
                <%- include('../views/partials/user_dash.ejs') %>
            <% } %>
        
    </body>
</html>