<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>
            <% if(currentUser) { %>
                Welcome <%=currentUser.username%>!
            <% } else { %>
                Welcome!
            <% } %>
        </h1>
            <% if(!currentUser) { %>
                <ul>
                    <li><a href="/sessions/new">Log In</a></li>
                    <li><a href="/users/new">Register</a></li>
                </ul>
            <% } else { %>
                <ul>
                    <li>
                        <form action="/sessions?_method=DELETE" method="POST">
                            <input type="submit" value="Logout"/>
                        </form>
                    </li>
                </ul>
            <% } %>
        
    </body>
</html>