<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/index">HOME</a>
  <h3>Add New Park</h3>
  <div class="container-container">
    <div class="new-edit-container">
      <form action="/index" method="POST">
        Name: <input class="box" type="text" name="name" /><br />
        State: <input class="box" type="text" name="state" /><br />
        Date of Visit: <input class="box" type="text" name="dov" /><br />
        Image: <input class="box" type="text" name="img" /><br />
        <input class="add-park" type="submit" name="" value="Add Park" />
      </form>
    </div>
  </div>
</body>
</html>
</body>
</html>