body{
    background: url('https://i.imgur.com/A5Po6mB.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15px;
    line-height: 15px;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.329);
    margin: 0;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    align-self: flex-start;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
   
}

.navbar li a {
    margin-bottom: 6px;
    height: 100%;
    transition: all 0.3s ease 0s;
}

.navbar li a:hover {
    background-color: black;
    height: 100%;
    color: white;
    padding: 8px 5px;
}

.logout-cont {
    margin-left: auto;
    height: 100%;
    margin-top: -4px;
    height: 200%;
}

.logout {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    padding: 3px 8px 3px 8px;
    cursor: pointer;
    
}

.landingpage-container {

    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.landing-container {
    background-color: rgba(0, 0, 0, 0.288);
    color: white;
    border-radius: 3px;
    text-align: center;
    height: 200px;
    width: 300px;
    padding: 15px;
}

.landing-container a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 5px;
    margin: 7px;
    margin-bottom: 15px;
}

input.in-up {
    background-color: rgba(0, 0, 0, 0.288);
    font-size: 17px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 5px;
    margin: 15px;
    cursor: pointer;
}

.landing-container h3 {
    margin-bottom: 30px;
    color: rgb(218, 126, 40);
}

.landing-container form {
    margin-bottom: 10px;
}

.register-log a {
    border: none;
}

.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;


}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    height: 80%;
    width: 95%;
    
    
}

.outer-box {
    text-align: center;
    margin: 20px;
}

.outer-box a {
    border: 2px solid white;
    border-radius: 2px;
    padding: 5px;
}

.park-box {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.253);
    height: 180px;
    width: auto;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 10px;
}

.park-box img {
    height: 100px;
    width: 180px;
    margin: 5px;
}

.park-box h2 {
    padding-bottom: 0;
    color: rgb(218, 126, 40);
    font-family: 'Anton', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    margin: 15px;
}

.show-heading {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Anton', sans-serif;
}

.show-img {
    height: 500px;
    width: 750px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
}

.info {
    color: rgb(218, 126, 40);
    width: 30%;
    text-align: center;
    flex-basis: 100%;
}

.edit-delete {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.edit-delete input {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    padding: 3px 8px 3px 8px;
    cursor: pointer;
}

.new-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.input-container {
    text-align: right;
    width: auto;
    margin-top: 30px;
}

.input-container input {
    margin-bottom: 15px;
    margin-right: 95px;
}

input.add-park {
    margin-right: 135px;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    padding: 3px 8px 3px 8px;
    cursor: pointer;
}

